:preserve
  .wrapper{
    margin: auto;
    max-width: #{@wrapper_real_width.to_i}px;
    padding: 0 #{@wrapper_margin.to_i}px;
  }

  .row{clear: both;}

  .half,
  .third,
  .quarter,
  .fifth,
  .sixth,
  .twothird,
  .twofifth,
  .threefifth,
  .fourfifth,
  .fivesixth,
  .threequarter{
    margin-left: #{@gutter_width_percent}%;
    float: left;
    min-height: 1px;
  }

  .half:first-child,
  .third:first-child,
  .quarter:first-child,
  .fifth:first-child,
  .sixth:first-child,
  .twothird:first-child,
  .twofifth:first-child,
  .threefifth:first-child,
  .fourfifth:first-child,
  .fivesixth:first-child,
  .threequarter:first-child{margin-left: 0;}

  .sixth{width: #{@sixth}%;}
  .fifth{width: #{@fifth}%;}
  .quarter{width: #{@quarter}%;}
  .third{width: #{@third}%;}
  .half{width: #{@half}%;}
  .threequarter{width: #{@threequarter}%;}
  .twothird{width: #{@twothird}%;}
  .twofifth{width: #{@twofifth}%;}
  .threefifth{width: #{@threefifth}%;}
  .fourfifth{width: #{@fourfifth}%;}
  .fivesixth{width: #{@fivesixth}%;}

  .push-sixth{margin-left: #{@sixth}%;}
  .push-fifth{margin-left: #{@fifth}%;}
  .push-quarter{margin-left: #{@quarter}%;}
  .push-third{margin-left: #{@third}%;}
  .push-half{margin-left: #{@half}%;}
  .push-threequarter{margin-left: #{@threequarter}%;}
  .push-twothird{margin-left: #{@twothird}%;}
  .push-twofifth{margin-left: #{@twofifth}%;}
  .push-threefifth{margin-left: #{@threefifth}%;}
  .push-fourfifth{margin-left: #{@fourfifth}%;}
  .push-fivesixth{margin-left: #{@fivesixth}%;}